# --------------------------------------------------
# Serverless Framework v3
# Backend Wompi – Prueba Técnica
# --------------------------------------------------

service: backend-wompi

frameworkVersion: '3'

# --------------------------------------------------
# Plugins
# --------------------------------------------------
plugins:
  - serverless-offline

# --------------------------------------------------
# Provider (AWS)
# --------------------------------------------------
useDotenv: true
provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: ${opt:stage, 'local'}

  environment:
    PRODUCT_TABLE: ${env:PRODUCT_TABLE}
    CUSTOMER_TABLE: ${env:CUSTOMER_TABLE}
    TRANSACTION_TABLE: ${env:TRANSACTION_TABLE}
    DELIVERY_TABLE: ${env:DELIVERY_TABLE}
    WOMPI_PUBLIC_KEY: ${env:WOMPI_PUBLIC_KEY}
    WOMPI_INTEGRITY_KEY: ${env:WOMPI_INTEGRITY_KEY}

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:*
      Resource: "*"

# --------------------------------------------------
# Custom config
# --------------------------------------------------
custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: false
    target: node20
    platform: node
    outdir: dist
    exclude:
      - aws-sdk
  baseHandler:
    local: dist
  pathRoot: ${self:custom.baseHandler.${self:provider.stage}}
  serverless-offline:
    httpPort: 4001
    lambdaPort: 4002
    noAuth: true

# --------------------------------------------------
# Resources (DynamoDB Tables)
# --------------------------------------------------
resources:
  Resources:

    ProductTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.PRODUCT_TABLE}
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    CustomerTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.CUSTOMER_TABLE}
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    TransactionTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TRANSACTION_TABLE}
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    DeliveryTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DELIVERY_TABLE}
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

# --------------------------------------------------
# Functions (Handlers)
# --------------------------------------------------
functions:

  # Crear una transacción
  createTransaction:
    timeout: 30
    handler: ${self:custom.pathRoot}/handlers/createTransaction.handler
    events:
      - http:
          path: transaction/{idTransaction}
          method: post
          cors: true

  # Pagar una transacción
  payTransaction:
    timeout: 30
    handler: ${self:custom.pathRoot}/handlers/payTransaction.handler
    events:
      - http:
          path: transaction/pay
          method: post
          cors: true

  # Webhook Wompi
  webhookWompi:
    timeout: 30
    handler: ${self:custom.pathRoot}/handlers/webhookWompi.handler
    events:
      - http:
          path: webhook/{idTransaction}
          method: post
          cors: true

  # Create Products
  createProducts:
    handler: ${self:custom.pathRoot}/handlers/createProduct.handler
    events:
      - http:
          path: products
          method: post
          cors: true

  # Get Products
  getProducts:
    handler: ${self:custom.pathRoot}/handlers/getProducts.handler
    events:
      - http:
          path: products
          method: get
          cors: true
